<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>AutoMerge</key>
		<true/>
		<key>DSDT</key>
		<dict>
			<key>Fixes</key>
			<dict>
				<key>AddDTGP</key>
				<true/>
				<key>AddIMEI</key>
				<false/>
				<key>AddPNLF</key>
				<true/>
				<key>FixDisplay</key>
				<false/>
				<key>FixHPET</key>
				<true/>
				<key>FixIPIC</key>
				<true/>
				<key>FixRTC</key>
				<true/>
				<key>FixRegions</key>
				<false/>
				<key>FixSBUS</key>
				<true/>
				<key>FixWAK</key>
				<false/>
			</dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>change _DSM to XDSM</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X0RTTQ==
					</data>
					<key>Replace</key>
					<data>
					WERTTQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change GFX0 to IGPU</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					R0ZYMA==
					</data>
					<key>Replace</key>
					<data>
					SUdQVQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change B0D3 to HDAU</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					QjBEMw==
					</data>
					<key>Replace</key>
					<data>
					SERBVQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Rename Method(_Q0E,0) to Method(XQ0E,0)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1EwRQA=
					</data>
					<key>Replace</key>
					<data>
					WFEwRQA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Rename Method(_Q0F,0) to Method(XQ0F,0)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1EwRgA=
					</data>
					<key>Replace</key>
					<data>
					WFEwRgA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Rename Method(_QCD,0) to XQCD</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1FDRAA=
					</data>
					<key>Replace</key>
					<data>
					WFFDRAA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Rename Method(GPRW,2) to Method(XPRW,2)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					R1BSVwI=
					</data>
					<key>Replace</key>
					<data>
					WFBSVwI=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Battery: Rename Method(_BIX,0) to Method(XBIX,0)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X0JJWAA=
					</data>
					<key>Replace</key>
					<data>
					WEJJWAA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Battery: Rename Method(TACH,1, Serialized) to Method(XTAC,1,Serialized)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					VEFDSAk=
					</data>
					<key>Replace</key>
					<data>
					WFRBQwk=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Battery: Rename Method(BIFA,0) to Method(XBIF,0)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					QklGQQA=
					</data>
					<key>Replace</key>
					<data>
					WEJJRgA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Battery: Rename Method(SMBR,3,Serialized) to Method(XSMB,3,Serialized)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					U01CUgs=
					</data>
					<key>Replace</key>
					<data>
					WFNNQgs=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Battery: Rename Method(SMBW,5,Serialized) to Method(XSMW,5,Serialized)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					U01CVw0=
					</data>
					<key>Replace</key>
					<data>
					WFNNVw0=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Battery: Rename Method(ECSB,7) to Method(XCSB,7)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					RUNTQgc=
					</data>
					<key>Replace</key>
					<data>
					WENTQgc=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Battery: Rename Method(FBST,4) to Method(XBST,4)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					RkJTVAQ=
					</data>
					<key>Replace</key>
					<data>
					WEJTVAQ=
					</data>
				</dict>
			</array>
		</dict>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
		</array>
		<key>FixHeaders</key>
		<true/>
		<key>SSDT</key>
		<dict>
			<key>DropOem</key>
			<false/>
			<key>Generate</key>
			<dict>
				<key>CStates</key>
				<false/>
				<key>PStates</key>
				<false/>
				<key>PluginType</key>
				<true/>
			</dict>
			<key>PluginType</key>
			<integer>1</integer>
		</dict>
		<key>SortedOrder</key>
		<array>
			<string>SSDT-HACK.aml</string>
			<string>SSDT-DEBUG.aml</string>
			<string>SSDT-ALS0.aml</string>
			<string>SSDT-ALS.aml</string>
			<string>SSDT-BATT.aml</string>
			<string>SSDT-PNLF.aml</string>
			<string>SSDT-EC.aml</string>
			<string>SSDT-UIAC.aml</string>
			<string>SSDT-XCPM.aml</string>
		</array>
		<key>SortedOrder-Comment</key>
		<string>This is the original order supported by Clover prior to build v3062.  You can trim it as necessary.</string>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Arguments</key>
		<string>dart=0 kext-dev-mode=1 -v</string>
		<key>DefaultVolume</key>
		<string>LastBootedVolume</string>
		<key>Legacy</key>
		<string>LegacyBiosDefault</string>
		<key>Log</key>
		<false/>
		<key>NeverHibernate</key>
		<true/>
		<key>Secure</key>
		<false/>
		<key>Timeout</key>
		<integer>2</integer>
		<key>XMPDetection</key>
		<string>Yes</string>
	</dict>
	<key>CPU</key>
	<dict>
		<key>C2</key>
		<false/>
		<key>C4</key>
		<false/>
		<key>C6</key>
		<false/>
	</dict>
	<key>Devices</key>
	<dict>
		<key>Audio</key>
		<dict>
			<key>Inject</key>
			<integer>0</integer>
		</dict>
		<key>Properties</key>
		<dict>
			<key>PciRoot(0x0)/Pci(0x2,0x0)</key>
			<dict>
				<key>AAPL,GfxYTile</key>
				<data>
				AQAAAA==
				</data>
				<key>AAPL,ig-platform-id</key>
				<data>
				AAAeFg==
				</data>
				<key>AAPL,slot-name</key>
				<string>Internal@0,2,0</string>
				<key>device-id</key>
				<data>
				HhYAAA==
				</data>
				<key>device_type</key>
				<string>VGA compatible controller</string>
				<key>enable-hdmi20</key>
				<data>
				AQAAAA==
				</data>
				<key>framebuffer-patch-enable</key>
				<data>
				AQAAAA==
				</data>
				<key>hda-gfx</key>
				<string>onboard-1</string>
				<key>model</key>
				<string>Intel HD Graphics 5300</string>
			</dict>
		</dict>
		<key>USB</key>
		<dict>
			<key>AddClockID</key>
			<true/>
			<key>FixOwnership</key>
			<true/>
			<key>Inject</key>
			<true/>
		</dict>
	</dict>
	<key>GUI</key>
	<dict>
		<key>Hide</key>
		<array>
			<string>\EFI\BOOT\BOOTx64.EFI</string>
		</array>
		<key>KbdPrevLang</key>
		<false/>
		<key>Language</key>
		<string>en:0</string>
		<key>Mouse</key>
		<dict>
			<key>Enabled</key>
			<false/>
		</dict>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<false/>
		</dict>
		<key>ScreenResolution</key>
		<string>1024x768</string>
		<key>ShowOptimus</key>
		<false/>
		<key>TextOnly</key>
		<false/>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>DualLink</key>
		<integer>0</integer>
		<key>EDID</key>
		<dict>
			<key>Inject</key>
			<false/>
			<key>VendorID</key>
			<data>
			FxE=
			</data>
		</dict>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<false/>
			<key>Intel</key>
			<false/>
			<key>NVidia</key>
			<false/>
		</dict>
		<key>LoadVBios</key>
		<false/>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleIntelCPUPM</key>
		<true/>
		<key>AppleRTC</key>
		<true/>
		<key>ForceKextsToLoad</key>
		<array>
			<string>\System\Library\Extensions\IONetworkingFamily.kext</string>
		</array>
		<key>KernelLapic</key>
		<true/>
		<key>KernelPm</key>
		<true/>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>change F%uT%04x to F%uTxxxx in AppleBacklightInjector.kext (credit RehabMan)</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				RiV1VCUwNHgA
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>com.apple.driver.AppleBacklight</string>
				<key>Replace</key>
				<data>
				RiV1VHh4eHgA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable TRIM for SSD</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				AEFQUExFIFNTRAA=
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>com.apple.iokit.IOAHCIBlockStorage</string>
				<key>Replace</key>
				<data>
				AAAAAAAAAAAAAAA=
				</data>
			</dict>
		</array>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<string>Yes</string>
		<key>InjectSystemID</key>
		<true/>
	</dict>
</dict>
</plist>
